/*--------------------------------------------------------------
# Carousels
--------------------------------------------------------------*/

.front-page-journal {
  h2 {
    margin-left: 1.938rem;
    font-size: 2.188rem;
    margin-bottom: 1rem;
    &:after {
      content: ""; 
      display: block;
      width: 16%;
      padding-top: 1rem;
      border-bottom: $border__secondary-brand-mobile;
    }
  }
}

.carousel-container {
  width: 83%;
	@include center-block;
	padding-bottom: 4rem;
	@include desktop-for-footer {
		padding-bottom: 6rem;
	}
}

.single {
	.carousel-cell-content {
    order: 1;
    @include desktop-for-footer {
      margin-left: 6.625rem;
    }
	}
	.carousel-cell-images {
    order: 2;
	}
	@include desktop-for-footer {
		.carousel-cell-content {
			order: 2;
		}
		.carousel-cell-images {
			order: 1;
		}
	}
}

.double {
	@extend .single;
	@include desktop-for-footer {
		.carousel-cell-content {
      margin-left: 0;
			order: 1;
		}
		.carousel-cell-images {
			order: 2;
		}
	}
}

.carousel-cell-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-right: 2rem;
	margin-left: 2rem;
  counter-increment: carousel-cell;
  .carousel-cell-content {
    p {
      font-weight: 300;
      line-height: 1.75;
    }
    h2 {
      font-size: 2.188rem;
      margin-bottom: 1rem;
      &:after {
        content: ""; 
        display: block;
        width: 16%;
        padding-top: 1rem;
        border-bottom: $border__secondary-brand-mobile;
      }
    }
    h3 {
      margin-bottom: 1rem;
      font-weight: 400;
    }
    .button {
      margin-top: 3.5rem;
      margin-bottom: 4.5rem;
      
    }

  }
	.carousel-cell-image-primary {
		width: 100%;
		min-width: 312px;
		position: inherit;
	}
	@include desktop-for-footer {
		flex-direction: row;
		.carousel-cell-content {
			width: 40%;
		}
		.carousel-cell-images {
			width: 60%;
		}
	}
}

.carousel-double {
	width: 100%;
	height: auto;
	margin-bottom: 20%;
	position: relative;
	.carousel-cell-image-secondary {
		min-width: 282px;
		width: 75vw;
	}
	.carousel-cell-image-primary {
		position: absolute;
		width: 59vw;
		min-width: 220px;
		z-index: 1;
		top: 55%;
		left: 31%;
	}
	@include desktop-for-footer {
		margin-bottom: 20%;
		position: relative;
		text-align: right;
		.carousel-cell-image-secondary {
			max-width: 650px;
			width: 45vw;
		}
		.carousel-cell-image-primary {
			position: absolute;
			width: 35vw;
			max-width: 500px;
			z-index: 1;
			top: 57%;
			left: 3%;
		}
	}
}

/*Carousel Slider Buttons*/

.flickity-button {
	background: $color__main-brand;
	&:hover {
    background: $color__secondary-brand;
	}
	&:disabled {
		display: none;
	}
}

.flickity-prev-next-button {
	width: 48px;
  height: 48px;
  border-radius: 0;
  bottom: 3%;
  @include desktop-for-footer {
    bottom: 0;
  }
	.flickity-button-icon {
		fill: $color__background-body;
  }
	@include desktop-for-footer {
		width: 60px;
		height: 60px;
		.flickity-button-icon {
			fill: $color__background-body;
			width: 25px;
			height: 25px;
		}
	}
}

.container-double {
  .carousel-btns {
    left: 15%;
    bottom: 6%;
    @include desktop-for-footer {
      left: 35%;
      bottom: 31%;
    }
  }
}
.carousel-btns {
  width: 106px;
  height: 48px;
  position: absolute;
  right: 10px;
  bottom: 6%;
  @include desktop-for-footer {
    width: 140px;
    height: 68px;
    left: 46%;
    bottom: 40%;
  }
  .previous {
    left: 0 !important;
    @include desktop-for-footer {
      right: 68px;
    }
  }
  .next {
    right: 0 !important;
    @include desktop-for-footer {
      
    }
  }
}