/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


// todo remove this
.button {
	&::after {
		content: '';
	}
	// jQuery $(this).toggleClass('is-active');
	&.is-active {
		&::after {
			content: '\f067';
			font-family: fontAwesome;

		}
	}
}



.single-post .site-main .entry-header-banner{
	background: url("../../images/header-single.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top:60px;
	height: 70vh;
}
.single-post-title{
	width:85%;
	margin: auto;
	font-size: 2rem;
	@include desktop{
		// text-align: center;
		padding:100px;
		padding-top:50px;
		font-size: 2.5rem;
		position: absolute;
		margin-bottom:40px;
		background:
		#F5F5F5;
		left: 50%; 
		transform: translate(-50%,0); 
		top:60vh;
		// height:100px;
		max-height: 200px;
		width:70%;
		
	}
}
.single-post-container{
	display: flex;
	width:85%;
	margin:auto;
	@include desktop{
		margin-top: 250px;
	}
	.single-post-sidebar{
		display:none;
		@include desktop{
			flex-basis: 22%;
			display: inline;
		}
	}
	.single-post-content{
		flex-basis: 100%;
		@include desktop{
			flex-basis: 78%;
		}
	}
}