/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


// todo remove this
.button {
	&::after {
		content: '';
	}
	// jQuery $(this).toggleClass('is-active');
	&.is-active {
		&::after {
			content: '\f067';
			font-family: fontAwesome;

		}
	}
}



.single-post .site-main .entry-header-banner, 
.type-entry .entry-header-banner{
	background: url("../../images/header-single.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top:60px;
	height: 70vh;
}

.single-post-title{
	width:85%;
	margin: auto;
	font-size: 2rem;
	@include desktop{
		// text-align: center;
		padding:100px;
		padding-top:50px;
		font-size: 2.5rem;
		position: absolute;
		margin-bottom:40px;
		background:
		#F5F5F5;
		left: 50%; 
		transform: translate(-50%,0); 
		top:60vh;
		// height:100px;
		max-height: 200px;
		width:70%;
		
	}
}
.single-post-container{
	display: flex;
	width:85%;
	margin:auto;
	@include desktop{
		margin-top: 250px;
	}
	.single-post-sidebar{
		display:none;
		@include desktop{
			flex-basis: 22%;
			display: inline;
		}
		a{
			color:black;
			text-decoration: none;
			pointer-events: none;
		}
	}
	.single-post-content{
		flex-basis: 100%;
		@include desktop{
			flex-basis: 78%;
		}
	}
}

//related articles bottom todo
#journal-hero-title{
	padding-top:40vh;
	color: white;
}
.journal-related-title{
	width:85%;
	margin:auto;
	margin-bottom: 50px;
	font-size: 2rem;
	margin-top: 0;
    &:after {
      content: ""; 
      display: block;
      width: 16%;
      padding-top: 1rem;
      border-bottom: $border__secondary-brand-mobile;
    }
}
.journal-container{
	display: flex;
	justify-content: space-between;
	width:85%;
	margin:auto;
	.journal-block{
		flex-basis: 33%;
		img{
			height:175px;
			width:375px;
			object-fit: cover;
			margin: auto;
		}
	}
}

.sidebar-styling{
	color: $color__main-brand;
	font-weight: 800;
}
//JOURNAL PAGE STYLING
.archive-title-head{
	font-size: 1.5rem;
	width:80%;
	margin:auto;
	border-bottom: 3px solid $border__secondary-brand-mobile;

}
.archive-container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 90%;
	margin: auto;
	margin-bottom: 100px;
	margin-top:100px;
	.archive-story-container{
		width:300px;
		margin:auto;
	}
	p{
		display: none;
	}
	h4{
		color:white;
		position: absolute;
		width:270px;
		text-shadow: .5px .5px .5px #585858;
		margin-left:20px;
		@include desktop{
			font-size: 24px;
			width:380px;
		}
	}
	img{
		width: 300px;
		height:300px;
		object-fit: cover;
	}
	@include desktop{
		flex-direction:row;
		justify-content: space-between;
		.archive-story-container{
			flex-basis:49%;
			height:325px;
			img{
				width:100%;
			}
		}
		div:nth-child(5){
			flex-basis: 99%;
		}
	}
}
.archive-box-area{
	height:400px;
	position: relative;
	@include desktop{
		display: block;
		margin-bottom:250px;
		background: url("../../images/about-background.png");
		background-size: cover;
	}
	.content-box-archive{
		background: $color__main-brand;
		height:400px;
		top: 50%;
		text-align: center;
		h2{
			color:white;
			font-size: 1.5rem;
			padding-top:80px;
		}
		.content-box-content-archive{
			padding-top:50px;
		}
		@include desktop{
			width: 55%;
			height:350px;
			margin:auto;
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			h2{
				font-size: 2rem;
				margin-top: 0;
			}
	
		}
	}
}

