.donate-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  
  @include desktop {
    display: flex;
    flex-direction: row;
  }
 
  h3 {
    font-size: 22px;
    font-weight: 300;
    @include desktop {
      margin-top: 0;
      font-size: 20px;
      font-weight: 300;
        
    }
  } 
} 
 
.donate-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  
  @include desktop {
    width: 55%;
    height: -webkit-fill-available;
  }
}

.donate-content {
  width: 100%;
  margin: 0 20px;
	width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  @include desktop {
    width: 45%;
    padding: 55px 82px;
  }
}

.close-link {
  position: absolute;
  top: 65px;
  font-size: 34px;
  font-weight: bold;
  text-decoration: none;
  @include desktop  {
    position: absolute;
    top: 50px;
    right: 29px;
    font-size: 34px;
    font-weight: bold;
    text-decoration: none;
  }
}

.paypal-image {
  height: 50px;
  align-self: left;
  margin-bottom: 50px;
}

#post-486 .entry-title {
  margin: 30px 1px 8px;
  
  @include desktop {
    font-size: 50px;
    margin: 115px 0 10px; 
  }
}

#post-486 {
  &:after {
    content: ""; 
    display: block;
    width: 16%;
    padding-top: 1rem;
    border-bottom: $border__secondary-brand-mobile;
  }  
}

.page-template-donate {
  .site-header,
  .site-footer {
    display: none;
  }
}

