.donation-container{
    background: lightblue;
    background-size: cover;
    background-repeat: no-repeat;
    height:450px;
    .content-donation{
        width: 90%;
        margin: auto;
        .content-donation-info{
            @include desktop{
                width: 400px;
            }
        }
    }
}


.site-footer{
    background: $color__main-brand;
    height:350px;
    width:100%;
    .site-info{
        color:#fff;
        width: 90%;
        margin:auto;
        display: flex;
        flex-direction: column;
        .footer-social{
            span{
                border: 1px solid #fff;
                font-size: 2rem;
                line-height: 20px;
            }
        }
        @include desktop {
        flex-direction:row;
        top: 50%;
        position: relative;
        transform: translateY(-50%);
        }
    }
}