.donation-container{
    background: lightblue;
    background-size: cover;
    background-repeat: no-repeat;
    height:450px;
    .content-donation{
        width: 90%;
        margin: auto;
        .content-donation-info{
            @include desktop{
                width: 400px;
            }
        }
    }
}


.site-footer {
    background: $color__main-brand;
    height: 445px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    .site-info {
        color:#fff;
    }
    .site-copyright {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .site-footer-logo {
            max-width: 59px;
            img {
                width: 59px;
            }
        }
    }
}