.donation-container{
    background: lightblue;
    background-size: cover;
    background-repeat: no-repeat;
    height:450px;
    .content-donation{
        width: 90%;
        margin: auto;
        .content-donation-info{
            @include desktop{
                width: 400px;
            }
        }
    }
}


.footer-wrapper {
    background: $color__main-brand;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.75rem;
    @include desktop-for-footer {
        align-items: unset;
        padding: 1rem 6.188rem;
    }
    h3 {
        margin: 0;
    }
    .site-info {
        color:#fff;
        display: flex;
        flex-direction: column;
        @include desktop-for-footer {
            flex-direction: row;
            justify-content: space-between;
        }
        .footer-contact {
            margin: 1rem 0 2rem 0;
            h3{
                margin-bottom: 1.5rem;
                @include desktop-for-footer {
                    margin-bottom: 4rem;
                }
            }
            @include desktop-for-footer {
                order: 1;
                margin: 4rem 0 2rem 0;
            }
        }
        .secondary {
            @include desktop-for-footer {
                order: 2;
                margin: 4rem 0 2rem 0;
                .widget-title {
                    margin-bottom: .3rem;
                }
            }
        }
        .footer-social {
            margin-bottom: 2rem;
            @include desktop-for-footer {
                order: 3;
                margin: 4rem 0 2rem 0;
            }
            .svg-inline--fa {
                font-size: 1.5rem;
                margin-right: 2.45rem;
                border: 1px solid #fff;
                padding: .75rem;
                @include desktop-for-footer {
                    margin-right: .5rem;
                    border-width: $border__bold-width;
                    padding: .75rem;
                    margin-top: 2.25rem;;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            h3 {
                margin-bottom: 1rem;
            }
        }
    }
    .site-copyright {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: .75rem;
        color: $color__background-body;
        font-weight: 300;
        @include desktop-for-footer {
            font-size: .9rem;
            align-items: unset;
        }
        .site-footer-logo {
            max-width: 59px;
            margin-right: 1rem;
            @include desktop-for-footer {
                max-width: 77px;
            }
            img {
                max-width: 59px;
                @include desktop-for-footer {
                    max-width: 77px;
                }
            }
        }
    }
}

.mc4wp-form-455 {
    .mc4wp-form-fields {
        margin-top: .5rem;
        @include desktop-for-footer {
            margin-top: 0;
        }
        label {
            font-weight: 300;
            font-size: .85rem;
            span {
                display: none;
            }
            @include desktop-for-footer {
                font-size: 1.125rem;
                span {
                    display: inline;
                }
            }

        }
        .input-wrapper {
            display: flex;
            margin-top: .5rem;
            input[type="email"] {
                padding: .8125rem .75rem .75rem .8125rem;
                border-radius: 0;
                border: $border__light;
                background: transparent;
                width: 195px;
                @include desktop-for-footer {
                    margin-right: 5px;
                    margin-top: .75rem;
                    width: 298px;
                }
                &::placeholder {
                    color: $color__input;
                    font-weight: 300;
                    font-style: italic;
                }
            }
            input[type="submit"] {
                padding: 1rem;
                font-size: 1rem;
                border: $border__light;
                background: $color__background-body;
                color: $color__main-brand;
                margin-left: 0;
                @include desktop-for-footer {
                    font-size: 1.25rem;
                    margin-top: .75rem;
                    width: 125px;
                }
                &:hover,
                &:active,
                &:focus {
                    background: $color__main-brand;
                    color: $color__background-body;
                    @include desktop-for-footer {
                        border-left: $border__light;
                    }
                }
            }
        }
    }
}
