/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid $color__main-brand;
	border-radius: 0;
	background: transparent;
	color: $color__main-brand;
	@include font-size(0.75);
	line-height: 1;
	padding: .6rem 1rem .4rem;

	&:hover, &:focus {
		border-color: $color__main-brand;
		background: $color__main-brand;
		color: $color__background-body;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

.btn-donate{
	background: $color__secondary-brand;
	color:#fff;
	text-align: center;
	width: 100%;
	height: 65px;
	margin: auto;
	a{
		// position: relative;
		// top: 50%;
		// transform: translateY(-50%); 
		margin: 0;
		font-size: 1.5rem;
	}
	@include desktop{
		width: 300px;
		margin: 0;
	}
}

/*Carousel Slider Buttons*/

.flickity-button {
	background: $color__main-brand;
	margin: 0 .5rem;
	&:hover {
		background: transparent;
		.flickity-button-icon {
			fill: $color__main-brand;
		}
	}
	&:disabled {
		display: none;
	}
}

.flickity-prev-next-button {
	width: 48px;
	height: 48px;
	z-index: 300;
	.flickity-button-icon {
		fill: $color__background-body;
		width: 20px;
		height: 20px;
	}
	@include desktop {
		width: 60px;
		height: 60px;
		.flickity-button-icon {
			fill: $color__background-body;
			width: 25px;
			height: 25px;
		}
	}
  }