/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid black;
	border-radius: 0;
	background: transparent;
	color: black;
	@include font-size(0.75);
	line-height: 1;
	padding: .6rem 1rem .4rem;

	&:hover, &:focus {
		border-color: $color__main-brand;
		background: $color__main-brand;
		color: $color__background-body;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

.btn-donate{
	background: $color__secondary-brand;
	color:#fff;
	text-align: center;
	width: 100%;
	height: 65px;
	margin: auto;
	a{
		// position: relative;
		// top: 50%;
		// transform: translateY(-50%); 
		margin: 0;
		font-size: 1.5rem;
	}
	@include desktop{
		width: 300px;
		margin: 0;
	}
}

.btn-transparent {
	border: $border__light;
	text-decoration: none;
	padding: .75rem 7.69rem;
	color: $color__background-body;
	background: $color__main-brand;
	@include desktop {
		padding: .75rem 3.5rem;
		font-size: 1.25rem;
		border-width: $border__bold-width;
	}
	&:hover,
	&:focus {
		background: $color__background-body;
		color: $color__main-brand;
	}
}

.btn-transparent-dark {
	border: $border__main-brand;
	text-decoration: none;
	padding: 1rem 7.165rem;
	color: $color__main-brand;
	background: $color__background-body;
	border-width: $border__bold-width;
	@include desktop {
		padding: .75rem 3.75rem;
		font-size: 1.25rem;
	}
	&:hover,
	&:focus {
		background: $color__main-brand;
		color: $color__background-body;
	}
}

.wpcf7-form {
	width: 330px;
	padding-left: 20px;
	margin-top: 60px;
	
	input[type=text] {
		border: 1px solid $color__main-brand;
		border-radius: 2px;
		padding: 8px 0;
		margin-top: 10px;
	}

	input[type=email] {
		border: 1px solid $color__main-brand;
		border-radius: 2px;
		padding: 8px 0;
		margin-top: 10px;
	}

	textarea {
		border: 1px solid $color__main-brand;
		border-radius: 2px;
		padding: 8px 0;
		margin-top: 10px;
	}

	p {
		font-size: 15px;
		color: $color__text-main;
	}
}

input[type=submit] {
	background: $color__secondary-brand;
	color:#fff;
	border: none;
	padding: 20px 128px;
	margin-left: 8px;
  font-size: 15px;
  font-family: $font__title;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: .5px;
}

#text-2 {
	margin-left: 25px;

	.widget-title {
		font-size: 30px;
		margin-bottom: 5px;
	}

	p {
		font-size: 14px;
		margin: 7px 0;
		line-height: 25px;

	}
}
