/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid $color__main-brand;;
	border-radius: 0;
	background: transparent;
	color: $color__main-brand;
	@include font-size(0.75);
	line-height: 1;
	padding: .6rem 1rem .4rem;

	&:hover, &:focus {
		border-color: $color__main-brand;
		background: $color__main-brand;
		color: $color__background-body;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

.btn-donate{
	background: $color__secondary-brand;
	color:#fff;
	text-align: center;
	width: 100%;
	height: 65px;
	margin: auto;
	a{
		// position: relative;
		// top: 50%;
		// transform: translateY(-50%); 
		margin: 0;
		font-size: 1.5rem;
	}
	@include desktop{
		width: 300px;
		margin: 0;
	}
}

.btn-transparent {
	border: $border__light;
	text-decoration: none;
	padding: .75rem 7.69rem;
	color: $color__background-body;
	background: $color__main-brand;
	@include desktop {
		padding: .75rem 3.5rem;
		font-size: 1.25rem;
		border-width: $border__bold-width;
	}
	&:hover,
	&:focus {
		background: $color__background-body;
		color: $color__main-brand;
	}
}

.btn-transparent-dark {
	border: $border__main-brand;
	text-decoration: none;
	padding: 1rem 6.5rem;
	color: $color__main-brand;
	background: transparent;
	border-width: $border__bold-width;
	@include desktop {
		padding: .75rem 3.75rem;
		font-size: 1.25rem;
	}
	&:hover,
	&:focus {
		background: $color__main-brand;
		color: $color__background-body;
	}
}

.btn-dark {
	text-decoration: none;
	padding: 1rem 2.5rem;
	color: $color__background-body;
	background: $color__main-brand;
	@include desktop {
		padding: .75rem 3.75rem;
		font-size: 1.25rem;
	}
	&:hover,
	&:focus {
		background: $color__secondary-brand;
		color: $color__background-body;
	}
}

// Contact Us Form //

.wpcf7-form {
	padding: 0 30px;
	box-sizing: border-box;
	margin-top: 60px;
	@include desktop {
		width: 625px;
		padding-left: 80px;
	}
	
	input[type=text], input[type=email] {
		border: 1px solid $color__main-brand;
		border-radius: 2px;
		width: 100%;
		padding: 8px 0;
		margin-top: 10px;
		@include desktop {
			padding: 8px 0;
			width: 625px;
			margin-top: 5px;
		}
	}

	input[name=your-name] {
		@include desktop {
			padding: 8px 0;
			width: 300px;
			margin: 5px 22px 0 0;
		}
	}

	.contact-names {
		@include desktop {
			display: flex;
			flex-direction: row;
		}
	}

	textarea {
		border: 1px solid $color__main-brand;
		border-radius: 2px;
		padding: 8px 0;
		margin-top: 10px;
		@include desktop{
			height: 110px;
			width: 625px;
			padding: 0 0;
			margin-top: 5px;
		}
	}

	p {
		font-size: 15px;
		color: $color__text-main;
		@include desktop{
			font-size: 16px;
		}
	}

	input[type=submit] {
		background: $color__secondary-brand;
		color:$color__background-body;
		border: none;
		padding: 20px 128px;
		font-size: 16px;
		font-family: $font__title;
		font-weight: 300;
		text-decoration: none;
		letter-spacing: .5px;
		@include desktop {
			background-color: $color__main-brand;
			color: $color__background-body;
			padding: 20px 80px;	
			margin-left: 0;
		}
	}
}




//Contributor Form //

.contributor-form {
	@include desktop {
		display: flex;
		justify-content: center;
	}	
}

#gform_1 {
	font-size: 18px;
	margin: 0 20px;
	width: calc(100% - 40px);
	@include desktop {
		width: 500px;
	}	
}

#gform_1 h3  {
	font-size: 30px;
}

.gform_description {
	font-size: 18px;		
	&:after {
		content: ""; 
		display: block;
		width: 105%;
		padding-top: 25px;
		margin-bottom: 20px;
		border-bottom: 4px solid coral;
	}

	@include desktop {
		&:after {
			content: ""; 
			display: block;
			width: 100%;
			padding-top: 25px;
			margin-bottom: 25px;
			border-bottom: 4px solid coral;
		}
	}
}


#input_1_1_3_container, #input_1_1_6_container {
	label {
		font-size: 18px;
		font-weight: 300;
	}
}

.gform_page_footer {
	border: none !important;
}

#field_1_2 .gfield_label, #field_1_3 .gfield_label, 
#field_1_4 .gfield_label, #field_1_5 .gfield_label {
	font-size: 18px;
	font-weight: 300;
}

