//Logo 

.site-header{
    position: absolute;
    padding-top:1rem;
    display:flex;
    width:100%;
	margin:auto;
    justify-content: space-between;
    .site-logo{
    width:40%;
        .logo {
            height: 60px;
            @include desktop {
                margin-top: 15px;
                margin-left: 80px;
            }
        }
    }
    .fa-bars,
    .btn-close{
        font-size:2rem;
        margin-top:10px;
        @include desktop{
            display: none;
        }
    }
}

#site-navigation {
    height:100%;
    width:100%;
    display:none;
    position: fixed;
    top:0;
    right:0;
    z-index:1;
	flex-direction: column;
    background: $color__main-brand;
    @include desktop{
        z-index: 999;
        background: none;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        top:auto;
        right: auto;
        .sub-menu{
            display: flex;
            flex-direction: column;
            padding:10px;
            line-height: 30px;
            background: white;
            width:250px;
            #submenu-title{
                color:black;
                border-bottom: 3px solid $color__secondary-brand;
            }
            #learn-more{
                background: white;
                color: $color__main-brand;
                border: 2px solid $color__main-brand;
                width: 100px;
                text-align: center;
                padding: 2px;
                margin-top: 10px;
                margin-bottom:10px;
                &:hover{
                    background:$color__main-brand;
                    color:white;
                }
            }
        }
    }
    .menu-main-navigation-container{
        width:100%;
        .nav-menu{
            font-family: $font__title;
            display: flex;
            flex-direction: column;

            li{
                height: 40px;
                // width:50px;
            }
            @include desktop {
                flex-direction: row;
                justify-content: flex-end;
                position: relative;
                top: 50%;
                width: 100%;
                transform: translateY(-50%); 
                li{
                    margin:auto;
                    height: auto;
                }
                a{
                    color: #fff;
                }
            }
        }
    }  
    .nav-content{
        padding:40px;
        @include desktop {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            padding:20px;

        }
        .nav-donate{
            background-color: #fff;
            color:$color__main-brand;
            width: 150px;
            height: 50px;
            text-align: center;
            p{
                position: relative;
                top: 50%;
                transform: translateY(-50%); 
                margin: 0;
            }
            @include desktop {
                background-color: $color__secondary-brand;
                color: #fff;
            }
        }
    }

}

//HEADER HERO BANNER SITE MAIN

.site-main header{
    height:100vh;
    background-position:25% 25%;  /* Sets reference point to scale from */
    background-size:cover;
  
    .entry-title{
        top: 50%;
        position: relative;
        transform: translateY(-50%); 
    }
}
#menu-open{
 margin-right:15px;
}
#menu-close{
    margin-top:25px;
}
//FIXES LINKS IN HEADER SO THAT ONLY LEARN MORE IS CLICKABLE AND JOURNAL
.menu-item-has-children a{
    @include desktop{
    pointer-events: none;
    }
}

#learn-more{
    pointer-events: auto;
}
//