/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/****** Front page ******/

/* General Style Front Page  */
.home {
  .entry-content {
    margin-top: 0;
  }
  h2{
    font-size: 2.188rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  p {
    font-weight: 300;
    line-height: 1.75;
  }
  .carousel-btns {
    left: 39.4%;
  }
}

/* Front Page About Section */

.front-page-about {
  background: url('../../images/background-who-are-we-frontpage.png') no-repeat;
  background-size: cover;
  padding-bottom: 1.719rem;
  padding-top: 5rem;
  @include desktop-for-footer {
    background: url('../../images/background-about-frontpage-2.png') bottom left no-repeat, url('../../images/background-who-are-we-frontpage.png');
    background-size: 63%, cover;
    height: 800px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
}

.front-page-about-content {
  margin: 0 2rem;
  @include desktop-for-footer {
    width: 424px;
    margin-top: 5rem;
  }
  h2 {
    margin-top: 0;
    &:after {
      content: ""; 
      display: block;
      width: 16%;
      padding-top: 1rem;
      border-bottom: $border__secondary-brand-mobile;
    }
    @include desktop-for-footer { 
      font-size: 3.125rem;
    }
  }
  p {
    font-weight: 300;
    line-height: 1.75;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
    @include desktop-for-footer { 
      font-size: 1.125rem;
    }
  }
  .button {
    margin-top: 3.5rem;
    margin-bottom: 4.5rem;
  }
}

/* Front Page Top 25 Carousel Section */

.front-page-carousel {
  margin-top: 4rem;
  @include desktop-for-footer {
    margin-top: 10rem;
    .single {
      .carousel-cell-content {
        order: 1;
        margin-left: 0;
      }
      .carousel-cell-images {
        order: 2;
        margin-left: 6.625rem;
      }
    }
  }
}

/* Front Page Workshops Section */

.front-page-workshops {
  background: url('../../images/workshop-background.png');
  background-size: cover;
  padding-bottom: 1.719rem;
  padding-top: 5rem;
  padding-bottom: 20%;
  @include desktop-for-footer {
    padding-bottom: 10%;
  }
}

.frontpage-workshops-wrapper{
  margin: 0 2rem;
  h2 {
    margin-top: 0;
    &:after {
      content: ""; 
      display: block;
      width: 16%;
      padding-top: 1rem;
      border-bottom: $border__secondary-brand-mobile;
    }
    @include desktop-for-footer { 
      font-size: 3.125rem;
    }
  }
  p {
    font-weight: 300;
    line-height: 1.75;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
    @include desktop-for-footer { 
      font-size: 1.125rem;
    }
  }
  .button {
    margin-top: 3.5rem;
    margin-bottom: 4.5rem;
  }
  @include desktop-for-footer {
    display: flex;
    margin: 0 7rem;
  }
  .front-page-workshop-images {
    position: relative;
    @include desktop-for-footer {
      order: 1;
      width: 60%;
    }
  }
  .first-workshop-image {
    position: relative;
    min-width: 282px;
    width: 75vw;
    @include desktop-for-footer {
      max-width: 650px;
      width: 45vw;
    }
  }
  .second-workshop-image {
    position: absolute;
    width: 59vw;
    min-width: 220px;
    z-index: 1;
    top: 55%;
    left: 31%;
    @include desktop-for-footer {
      width: 35vw;
      max-width: 500px;
      left: 27%;
    }
  }
  .front-page-workshop-content {
    @include desktop-for-footer {
      order: 2;
      margin-left: 6.625rem;
      width: 40%;
    }
  }
}

/* Front Page Journal Section */

.front-page-journal {
  margin-top: 4rem;
  @include desktop-for-footer {
    margin-top: 7rem;
    .single {
      .carousel-cell-content {
        order: 1;
        margin-left: 0;
      }
      .carousel-cell-images {
        order: 2;
        margin-left: 6.625rem;
      }
    }
  }
  h2 {
    margin: 0 2rem;
    @include desktop-for-footer { 
      font-size: 3.125rem;
      margin: 0 7rem;
    }
  }
  h3:after {
    content: ""; 
    display: block;
    width: 16%;
    padding-top: 1rem;
    border-bottom: $border__secondary-brand-mobile;
  }
}

/* Front Page Become Section */

.front-page-become-box {
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  h2 {
    color: #fff;
    width: 53%;
    margin-left: 2rem;
    @include desktop {
      font-size: 3.125rem;
    }
    &:after {
      content: ""; 
      display: block;
      width: 16%;
      padding-top: 1rem;
      border-bottom: $border__secondary-brand-mobile;
    }
  }

  @include desktop {
    background: 
    url('../../images/mountain-range.png') center top 230px no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.front-page-become-volunteer {
  background: 
  url('../../images/become-volunteer.png') center no-repeat;
  background-size: cover;
  height: 380px;
  width: 100%;

  @include desktop {
    height: 485px;
    width: 525px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 20px;
  }

  .front-page-volunteer-content {
    margin: 2rem;
  }
}

.front-page-become-member {
  background: 
  url('../../images/become-member.png') center no-repeat;
  background-size: cover;
  width: 100%;
  height: 385px;

  @include desktop {
    height: 485px;
    width: 525px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 20px;
  }

  .front-page-member-content {
    margin: 2rem;
  }
}

/****** Workshops Page ******/

/* General Style Workshops */

.page-template-workshops {
  .entry-content {
    margin-top: 0;
  }
  h2{
    font-size: 2.188rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  p {
    font-weight: 300;
    line-height: 1.75;
  }
}

/* Workshops Page Description Section */

.workshop-description {
  background: url('../../images/workshop-background.png') no-repeat;
  background-size: cover;
  padding-bottom: 1.719rem;
  padding-top: 5rem;
  margin-bottom: 3rem;
  @include desktop-for-footer {
    background: url('../../images/workshops-background-2.png') bottom no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 7rem;
  }
}

.workshop-description-wrapper {
  margin: 0 2rem;
  @include desktop-for-footer {
    width: 684px;
    margin-top: 5rem;
  }
  h2 {
    margin-top: 0;
    &:after {
      content: ""; 
      display: block;
      width: 16%;
      padding-top: 1rem;
      border-bottom: $border__secondary-brand-mobile;
    }
    @include desktop-for-footer { 
      font-size: 3.125rem;
    }
  }
  p {
    font-weight: 300;
    line-height: 1.75;
    margin-top: 0;
    margin-bottom: 0;
    @include desktop-for-footer { 
      font-size: 1.125rem;
    }
  }
}

/* Workshops Page Content Box Section */

.workshops-content-box-area {
  @include desktop {
    display: none;
  }
  .content-box {
    background: $color__main-brand;
    color:white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    h3 {
      margin-bottom: 2.5rem;
      font-size: 1.563rem;
      width: 300px;
      @include center-block;
    }
    .button {
      margin-bottom: 2rem;
      .btn-transparent {
        padding: 1rem 3rem;
        border-width: $border__bold-width;
      }
    }
  }
}

/****** About US Page ******/

.about-carousels {
  .carousel-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    @include desktop-for-footer {
      margin-top: 4rem;
      margin-bottom: 4rem;
      
    }
  }
}

.about-box-area {
  @include desktop-for-footer {
    height: 700px;
    width: 100%;
    background: url('../../images/about-background.png') top no-repeat;
    position: relative;
  }
  .content-box {
    background: $color__main-brand;
    color:white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    min-width: 375px;
    @include desktop-for-footer {
      width: 60%;
      position: absolute;
      top: 55%;
      left: 20%;
    }
    h2 {
      margin-bottom: 3rem;
      font-size: 2.188rem;
      @include center-block;
    }
    .content-box-content {
      margin-bottom: 2rem;
      .btn-transparent {
        padding: 1rem 6rem;
        border-width: $border__bold-width;
      }
    }
  }
}

/****** Volunteer Page ******/

.page-template-volunteer {
  .entry-content {
    margin-top: 0;
  }
  h2{
    font-size: 2.188rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  p {
    font-weight: 300;
    line-height: 1.75;
  }
}

.volunteer-roles {
  background: url('../../images/volunteer-bird-pattern.png') 105% -12% no-repeat;
  background-size: 276px;
  padding-bottom: 1.719rem;
  padding-top: 5rem;
  @include desktop-for-footer {
    background: url('../../images/volunteer-bird-pattern.png') bottom right no-repeat;
    background-size: contain, cover;
    height: 600px;
    display: flex;
    flex-direction: row;
    padding-top: 7rem;
  }
}

.volunteer-roles-content {
  margin: 0 2rem;
  padding-bottom: 3rem;
  @include desktop-for-footer {
    width: 40%;
    order: 2;
    margin-right: 7rem;
    margin-left: 6rem;
  }
  h2 {
    margin-top: 0;
    &:after {
      content: ""; 
      display: block;
      width: 16%;
      padding-top: 1rem;
      border-bottom: $border__secondary-brand-mobile;
    }
    @include desktop-for-footer { 
      font-size: 3.125rem;
    }
  }
  p {
    font-weight: 300;
    line-height: 1.75;
    margin-top: 0;
    margin-bottom: 0;
    @include desktop-for-footer { 
      font-size: 1.125rem;
    }
  }
}

.volunteer-roles-image {
  width: 83%;
  @include center-block;
  @include desktop-for-footer {
    width: 60%;
    order: 1;
    margin-left: 7rem;
  }
}

.volunteer-perks {
  background: url('../../images/volunteer-girl-backgraund.png') bottom right no-repeat, url('../../images/volunteer-mountain-pattern.png') no-repeat;
  background-size: 252px, cover;
  padding-bottom: 9.719rem;
  padding-top: 3rem;
  @include desktop-for-footer {
    background: url('../../images/volunteer-girl-backgraund.png') bottom right no-repeat, url('../../images/volunteer-mountain-pattern.png') no-repeat;
    background-size: 63%, cover;
    height: 800px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 3rem;
  }
}

.volunteer-perks-content {
  margin: 0 2rem;
  padding-bottom: 3rem;
  @include desktop-for-footer {
    width: 450px;
    margin-left: 7rem;
  }
  h2 {
    margin-top: 0;
    &:after {
      content: ""; 
      display: block;
      width: 16%;
      padding-top: 1rem;
      border-bottom: $border__secondary-brand-mobile;
    }
    @include desktop-for-footer { 
      font-size: 3.125rem;
    }
  }
  p {
    font-weight: 300;
    line-height: 1.75;
    margin-top: 0;
    margin-bottom: 0;
    @include desktop-for-footer { 
      font-size: 1.125rem;
    }
  }
}

.volunteer-carousel {
  margin-top: 4rem;
  h2 {
    margin: 0 2rem;
    @include desktop-for-footer { 
      font-size: 3.125rem;
      margin: 0 7rem;
      display: flex;
      justify-content: flex-end;
    }
  }
  h3:after {
    content: ""; 
    display: block;
    width: 16%;
    padding-top: 1rem;
    border-bottom: $border__secondary-brand-mobile;
  }
}

/****** Member Page ******/

