.submit-wrapper {
  display: flex;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
}

.submit-content {
  background: url('../../images/submit-background.png') center no-repeat;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  color: $color__background-body;

  @include desktop {
    padding: 78px 40px 0;
    width: 45%;
  }
}

.submit-form {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  @include desktop {
    padding: 0 40px;
    width: 55%;
  }  
}

#gform_fields_2 {
  @include desktop {
    display: flex;
    flex-flow: row wrap;
     & > li {
       padding-right: 0;
     }
  }
}

#field_2_7 {
  @include desktop {
    margin-right: 20px;
  }
}

#field_2_7, #field_2_6 {
  @include desktop {
    width: calc(50% - 10px);
  }
}

#field_2_8, #field_2_5, #field_2_4 {
  @include desktop {
    width: 100%;
  }
}

.submit-close {
  position: absolute;
  top: 46px;
  right: 32px;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
}

#input_2_4 {
  height: 130px;
}

#input_2_4, #input_2_5, #input_2_6, #input_2_7, #input_2_8 {

}

.page-template-submit {
  .site-header,
  .site-footer {
    display: none;
  }
}