.submit-wrapper {
  display: flex;
  flex-direction: column;
  @include desktop {
    margin-top: 60px;
    flex-direction: row;
  }
}

.submit-content {
  background: url('../../images/submit-background.png') center no-repeat;
  width: 100%;
  margin-top: 61px;
  padding: 46px;
  box-sizing: border-box;
  color: $color__background-body;

  @include desktop {
    padding: 55px 60px 0;
    width: 45%;
    margin-top: 0;
  }
}

.submit-form {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  @include desktop {
    padding: 70px 63px;
    width: 55%;
  }  
}

#gform_fields_2 {
  @include desktop {
    display: flex;
    flex-flow: row wrap;
     & > li {
       padding-right: 0;
     }
  }
}

#field_2_7 {
  @include desktop {
    margin-right: 20px;
  }
}

#field_2_7, #field_2_6 {
  @include desktop {
    width: calc(50% - 10px);
  }
}

#field_2_8, #field_2_5, #field_2_4 {
  @include desktop {
    width: 100%;
  }
}

.submit-close {
  position: absolute;
  top: 65px;
  right: 30px;
  font-size: 34px;
  font-weight: bold;
  text-decoration: none;
  @include desktop {
    top: 15px;
    right: 35px;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
  }
}

#input_2_4 {
  height: 100px;
}

#input_2_4, #input_2_5, #input_2_6, #input_2_7, #input_2_8 {
  border: 1px solid $color__main-brand;
  border-radius: 2px;
}

.page-template-submit {
  .site-header,
  .site-footer {
    display: none;
  }
}

#gform_2 {
  .gform_footer {
    padding: 2px 0 10px;
  }
}

#gform_2 {
  .gform_title {
    font-weight: 300;
    &:after {
      content: ""; 
      display: block;
      width: 100%;
      padding-top: 1rem;
      border-bottom: 2px solid coral;
    } 
  }
}

.submit-content {
  p {
    line-height: 1.95;
    margin-top: 45px;
  }
}

.submit-content {
  h2 {
    &:after {
      content: ""; 
      display: block;
      width: 22%;
      padding-top: 1rem;
      border-bottom: $border__secondary-brand-mobile;
    } 
  }
}

#gform_submit_button_2 {
  background: $color__secondary-brand;
  color:$color__background-body;
  border: none;
  padding: 20px 120px;
  font-size: 16px;
  font-family: $font__title;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: .5px;
  @include desktop {
    background-color: $color__main-brand;
    color: $color__background-body;
    padding: 15px 60px;	
    margin-left: 0;
  }
}
