.sf-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(white,0.9);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.editorial-team{
    display: flex;
    flex-wrap: wrap;
    .editorial-container{
        flex-grow: 25%;
        flex-wrap: wrap;
        max-width: 25%;
    }
}