.sf-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: white;
    display: none;
    flex-direction: row-reverse;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    .popup-profile-content{
        flex-basis: 45%;
        .content-single-profile{
            padding-left:100px;
            padding-right:100px;
            overflow: scroll;
            height: 90%;
            h2{
                border-bottom: 4px solid $color__secondary-brand;
            }
            p{
                line-height: 40px;
            }
        }
    }
    .popup-profile-image{
        flex-basis: 55%;
        img{
            object-fit: cover;
            height: 100%;
            width:100%;
        }
    }
    .sf-modal-close{
        text-align: right;
        font-size: 40px;
        color: $color__secondary-brand;
        padding-right:50px;
    }
}

.profile-box{
    width: 90%;
    margin: auto;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 180px;
    .profile-box-preview{
        display: none;
    }
    .profile-container{
    display: flex;
    flex-wrap: wrap;
    }
    .profile-content{
        max-width: 25%;
        min-width: 25%;
        img{
            object-fit: cover;
            width: 100px;
            height: 100px;
        }
        li{
            list-style: none;
        }
    }
    .profile-headline{
        width: 100%;
        h1{
            border-bottom: 4px solid $color__secondary-brand;
            margin-left:0
        }
    }
    @include desktop {
        display: flex;
        // width:100%;
        .profile-box-preview{
            display: block;
            flex-basis: 40%;
            padding-top: 100px;
            padding-left:10px;
            padding-right:10px;
            img{
                width:425px;
                height:450px;
                object-fit: cover;
            }
            h2{
                position: absolute;
                color: white;
                margin-top: 375px;
                margin-left:20px;
                text-shadow: 2px 2px 4px #000000;
                font-weight: 100;
                font-size: 1.5rem;
                border-bottom: 4px solid $color__secondary-brand;
            }
            input{
                width:425px;
                height: 75px;
                font-size: 30px;
            }
        }
        .profile-container{
            flex-basis: 60%;
        }
        .profile-content {
            max-width: 16%;
            min-width:16%;
            img{
                width: 120px;
                height: 120px;
            }
        }
    }
}

.editorial{
    flex-direction: row-reverse;
}




//top25**************************************

/* Carousel on Top 25 Page */
.nominee-carousel{
    display: block;
    @include desktop{
        display: none;
    }
    .carousel-top-25 {
        width: 100%;
        .carousel-top-25-cell {
            width: 50%;
            img{
                width:40%;
                text-align: center;
            }
        }
    }
}

.profile-scroll-box{
    margin-top: 100px;
    display: none;
    height: 600px;
    @include desktop{
        display: flex;
        .nominee-content{
            display: flex;
            flex-basis: 55%;
            flex-wrap: wrap;
            overflow: scroll;
            justify-content: space-between;
            margin-left:120px;
            margin-right:120px;
            .nominee-profiles-box{
                width:300px;
                margin-bottom: 80px;
                img{
                    height: 400px;
                    width:300px;
                    object-fit: cover;
                }
            }
        }
        .nominee-meet-container{
            flex-basis: 45%;
            button{
                width:200px;
                height: 50px;
                font-size: 20px;
            }
            p{
                width:400px;
                font-weight: 100;
                line-height: 30px;
            }
        }
    }
}

// JUDGES SECTION*******************

.content-box-area{
    @include desktop{
    background: lightblue;
    height: 700px;
    }
    .content-box{
        background: $color__main-brand;
        color:white;
        height: 400px;
        padding-top: 10px;
        padding-bottom: 60px;
        .content-box-header{
            width:85%;
            margin: auto;
            h2{
                border-bottom: 6px solid $color__secondary-brand;
                width:30%;
                padding-bottom:20px;
            }
            p{
                font-weight:100;
                line-height: 30px;
            }
        }
        .judges-container-btn{
            width:85%;
            margin: auto;

            // .content-box-button input{
            //     width:100%;
            //     height:50px;
            //     font-size: 1rem;
            //         background: $color__main-brand;
            //         text-decoration: none;
            //         color: white;
            //         border: 2px solid white;
            //         text-align: center;
            //         padding: 2px;
            //         margin-top: 10px;
            //         margin-bottom:10px;
            //         &:hover{
            //             color:$color__main-brand;
            //             background:white;
            //         }
        // }
        }
        @include desktop{
            width: 850px;
            height: 300px;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            margin-top: 300px;
            .content-box-header{
                width:60%;
                h2{
                    text-align: center;
                    border-bottom: 6px solid $color__secondary-brand;
                    width:100%;
                    padding-bottom:20px;
                    margin-top:10px;
                }
            }
            // .judges-container-btn{
            //     width: 200px;
            //     .content-box-button input{
            //         width: 200px;
            //     }
            // }
        }
    }
}

