
//** CONTENT_DONATION **//

.donation-container {
  background: 
  url('../../images/donation.png') center no-repeat;
  background-size: cover;
  height: 450px;
  
  .content-donation {
    margin: auto;
    padding: 75px 0 0 130px;
      
    .content-donation-info {
      
      @include desktop{
        width: 400px;
      }
      
      p {
      line-height: 28px;
      color: $color__text-main;
      font-weight: 300;
      margin-top: 20px;
      margin-bottom: 50px;
      }   
    }
  }
}

.btn-donate {
	background: $color__secondary-brand;
	color:#fff;
  padding: 13px 70px;
  font-size: 17px;
  font-family: $font__title;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: .5px;

  @include desktop {
		width: 210px;
		margin: 0;
	}
}