
//** CONTENT_DONATION **//

.donation-container {
  background: 
  url('../../images/donation.png') center bottom no-repeat;
  background-size: contain;
  width: 100%;
  height: 435px;

  @include desktop {
    background-size: cover;
  }
  
  .content-donation {
    margin: auto;

    @include desktop{
      padding: 75px 0 0 130px;
    }
    
    .content-donation-info {
      @include desktop{
        width: 400px;
      }
      
      p {
      line-height: 28px;
      color: $color__text-main;
      font-weight: 300;
      margin-top: 20px;
      margin-bottom: 50px;
      margin-left: 25px;
      width: 90%;

      @include desktop {
        margin-left: 0;
        width: 100%;
      }
      }   
    }
  }
}

.btn-donate {
	background: $color__secondary-brand;
	color:#fff;
  padding: 13px 120px;
  margin-left: 20px;
  font-size: 17px;
  font-family: $font__title;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: .5px;

  @include desktop {
		width: 210px;
    margin: 0;
    padding: 13px 70px;
  }
  &:hover {
    color:#fff;
    background: darken($color__secondary-brand, 6);
  }
}